
  <head>
    Audio
  </head>

  <body>
    <div>
        <a href="#" class="btn btn-default">Briefing of today</a>

        <audio controls>
        <source src="/playAudio" type="audio/mpeg">
        </audio>
        
    </div>
  </body>
